button {
  font-family: "Helvetica Neue W31", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #00C9A7;
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.ProductPage {
  margin: 50px;
  margin-top: 120px;
}
.ProductPage .sliderForPhon {
  display: none;
}
.ProductPage .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ProductPage .container .column1 {
  margin: 0px 5%;
}
.ProductPage .container .column2 {
  margin: 0px 10%;
}
.ProductPage .container .column2 .name {
  margin-bottom: 10px;
  font-size: 27px;
}
.ProductPage .container .column2 .price {
  font-size: 20px;
  border-bottom: black 1px solid;
  color: rgb(60, 60, 60);
  font-weight: 700;
  padding-bottom: 10px;
}
.ProductPage .container .column2 .changeQuantity {
  text-align: center;
  margin: 20px;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart {
  font-size: 16px;
  border: solid rgb(130, 130, 130) 0.5px;
  display: inline-flex;
  margin-bottom: 10px;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart button {
  all: unset;
  width: 32px;
  height: 32px;
  text-align: center;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart button:hover {
  cursor: pointer;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart span {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-left: solid rgb(130, 130, 130) 0.5px;
  border-right: solid rgb(130, 130, 130) 0.5px;
}
.ProductPage .container .column2 .changeQuantity .inCart .remove {
  all: unset;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}
.ProductPage .container .column2 .changeQuantity .inCart .remove:hover {
  cursor: pointer;
}
.ProductPage .container .column2 .description {
  margin-top: 50px;
}
.ProductPage .container .column2 .description .title {
  margin: 7px 0px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: underline;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Playpen Sans", cursive;
}

.Navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.Navbar .Navigation {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 25px;
  padding-left: 60px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.Navbar .Navigation .mobileMenu {
  display: none;
}
.Navbar .Navigation .btn {
  text-decoration: none;
  padding-right: 20px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(56, 60, 89);
}
.Navbar .Navigation .btn:hover {
  text-decoration: underline;
}
.Navbar .Navigation .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #845EC2;
  color: rgb(50, 50, 50);
  font-size: 35px;
  font-family: "Caveat", cursive;
}
.Navbar .Navigation .shoppingCartIcon {
  padding: 0;
  position: absolute;
  right: 80px;
  top: 15px;
}
.Navbar .Navigation .shoppingCartIcon .cartCount {
  position: absolute;
  top: -5px;
  right: -7px;
  color: white;
  background-color: rgb(255, 35, 0);
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: 700;
}
.Navbar .Navigation button {
  background: none;
  border: none;
}
.Navbar .Navigation button:hover {
  cursor: pointer;
}
.Navbar .Navigation button img {
  width: 35px;
  object-fit: cover;
}
.Navbar .sideTab {
  border-left: 1px solid rgb(229, 229, 229);
  width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  z-index: 4;
}
.Navbar .sideTabHidden {
  width: 0;
}

.Home img {
  width: 100%;
  object-fit: cover;
}

.ImageRow {
  margin: 5%;
  margin-top: 120px;
  font-family: "Playpen Sans", cursive;
  letter-spacing: 0.1 px;
}
.ImageRow .title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  text-transform: uppercase;
}
.ImageRow .description {
  font-weight: 500;
  text-align: center;
  margin-bottom: 2%;
  font-size: 16px;
}
.ImageRow .images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-gap: 3%;
}
.ImageRow .images .product {
  margin: 1%;
}
.ImageRow .images .product .image {
  overflow: hidden;
}
.ImageRow .images .product .image img {
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.ImageRow .images .product .image img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.ImageRow .images .product .name {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
}
.ImageRow .images .product .price {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: rgb(90, 90, 90);
}

.ImageSlider {
  position: relative;
  overflow: hidden;
}
.ImageSlider .mainImage {
  position: relative;
}
.ImageSlider .mainImage button {
  background-color: rgba(70, 70, 70, 0.4);
  color: rgba(50, 20, 20, 0.15);
  padding: 0px;
  width: 40px;
  /* Width of the button */
  height: 40px;
  /* Height of the button, should be the same as width */
  border-radius: 50%;
  /* This makes it round */
  color: rgba(250, 250, 250, 0.95);
  /* Optional: Text color */
  text-align: center;
  /* Aligns the text to the center */
  line-height: 40px;
  display: inline-block;
  font-size: 20px;
}
.ImageSlider .mainImage .left-arrow,
.ImageSlider .mainImage .right-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.ImageSlider .mainImage .left-arrow {
  left: 10px;
}
.ImageSlider .mainImage .right-arrow {
  right: 10px;
}
.ImageSlider img {
  width: 100%;
}
.ImageSlider .slide {
  display: none;
}
.ImageSlider .slide.active {
  display: block;
}
.ImageSlider .dot-container {
  text-align: center;
  margin-top: 10px;
}
.ImageSlider .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: lightgray;
  cursor: pointer;
}
.ImageSlider .dot.active {
  background-color: darkgray;
}
.ImageSlider .thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.ImageSlider .thumbnail {
  width: 60px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.6;
}
.ImageSlider .thumbnail.active {
  box-shadow: 0px 0px 6px 2px rgba(80, 80, 80, 0.5);
  opacity: 1;
}

.ShoppingCartTab {
  padding: 20px;
}
.ShoppingCartTab .close {
  all: unset;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 17px;
  right: 70px;
}
.ShoppingCartTab .close:hover {
  cursor: pointer;
}
.ShoppingCartTab .close img {
  width: 50px;
  object-fit: cover;
}
.ShoppingCartTab .totalContainer {
  border-top: 2px solid rgb(229, 229, 229);
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 20px 40px;
  background-color: rgb(249, 249, 249);
}
.ShoppingCartTab .totalContainer .total {
  text-align: right;
  font-weight: 400;
}
.ShoppingCartTab .totalContainer .checkoutContainer {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}
.ShoppingCartTab .totalContainer .checkoutContainer .checkoutBtn {
  all: unset;
  background-color: cornflowerblue;
  color: #ffffff;
  font-size: 16px;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  letter-spacing: 2px;
}
.ShoppingCartTab .totalContainer .checkoutContainer .checkoutBtn:hover {
  cursor: pointer;
}

.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
}
.CartItem .left {
  display: flex;
  align-items: center;
}
.CartItem .left img {
  width: 70px;
  height: 70PX;
  object-fit: cover;
}
.CartItem .left .name {
  margin-left: 20px;
}
.CartItem .left .name a {
  text-decoration: none;
  color: black;
}
.CartItem .left .name a:hover {
  text-decoration: underline;
}
.CartItem .left .name span,
.CartItem .left .name .itemPrice {
  margin-left: 7px;
  font-size: 14px;
  color: rgb(100, 100, 100);
  margin: 0;
  padding: 0;
}
.CartItem .right {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.CartItem .right span {
  text-decoration: none;
}
.CartItem .right button {
  clear: all;
  padding: 0;
  margin: 0;
  padding: 2px 5px;
  border: black solid 0.7px;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin-left: 12px;
  font-size: 15px;
  font-weight: 100;
}
.CartItem .right button:hover {
  background-color: rgb(230, 230, 230);
}

.Store {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px 70px;
  justify-content: space-around;
  padding: 70px;
  padding-top: 170px;
}
.Store .StoreItem .imgConatainer {
  overflow: hidden;
}
.Store .StoreItem .imgConatainer img {
  display: block;
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.Store .StoreItem .imgConatainer img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.Store .StoreItem .product_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 12px;
  font-size: 22px;
}
.Store .StoreItem .product_name .price {
  font-size: 20px;
  color: rgb(110, 110, 110);
}
.Store .StoreItem .changeQuantity {
  text-align: center;
}
.Store .StoreItem .changeQuantity .addProduct {
  height: 40px;
}
.Store .StoreItem .changeQuantity .addProduct button {
  width: 100%;
  background-color: rgb(25, 22, 22);
  display: none;
  font-size: 14px;
  letter-spacing: 1.3px;
  border-radius: 5px;
  padding: 12px;
}
.Store .StoreItem .changeQuantity .showQuantity {
  font-size: 16px;
  border: solid rgb(130, 130, 130) 0.5px;
  display: inline-flex;
  margin-bottom: 10px;
}
.Store .StoreItem .changeQuantity .showQuantity button {
  all: unset;
  width: 32px;
  height: 32px;
  text-align: center;
}
.Store .StoreItem .changeQuantity .showQuantity button:hover {
  cursor: pointer;
}
.Store .StoreItem .changeQuantity .showQuantity span {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-left: solid rgb(130, 130, 130) 0.5px;
  border-right: solid rgb(130, 130, 130) 0.5px;
}
.Store .StoreItem .changeQuantity .remove {
  all: unset;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}
.Store .StoreItem .changeQuantity .remove:hover {
  cursor: pointer;
}
.Store .StoreItem:hover .addProduct button {
  display: block;
}

.Checkout {
  font-weight: 50px;
}
.Checkout .header {
  width: 100%;
  background-color: darkkhaki;
  text-align: center;
}
.Checkout .header img {
  margin: 20px;
  padding: 5px;
  border: red solid 1px;
}
.Checkout .columnContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(250, 250, 250);
}
.Checkout .columnContainer .column1 {
  border-radius: 10px;
  margin: 6vw;
  margin-bottom: 150px;
}
.Checkout .columnContainer .column1 .head {
  margin: 20px 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
.Checkout .columnContainer .column1 .address {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1px;
}
.Checkout .columnContainer .column1 .address form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 15px;
}
.Checkout .columnContainer .column1 .address form .item3 {
  grid-column: 1/3;
}
.Checkout .columnContainer .column1 .address form label {
  color: rgb(20, 20, 20);
}
.Checkout .columnContainer .column1 .address form label input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-top: 2px;
  margin-bottom: 5px;
  border: 1px solid rgb(210, 220, 220);
  border-radius: 5px;
  font-size: 16px;
}
.Checkout .columnContainer .column2 {
  padding: 20px 50px;
  border-left: solid 1px rgb(230, 230, 230);
  background-color: white;
}
.Checkout .columnContainer .column2 .head {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 70px;
}
.Checkout .columnContainer .column2 .ProductComponent {
  display: flex;
  margin-top: 15px;
}
.Checkout .columnContainer .column2 .ProductComponent .product {
  margin-right: 40px;
  font-size: 20px;
}
.Checkout .columnContainer .column2 .ProductComponent .product .quantity {
  color: #888888;
  font-size: 15px;
}
.Checkout .columnContainer .column2 .ProductComponent .product .productPrice {
  color: #888888;
  font-size: 15px;
}
.Checkout .columnContainer .column2 .ProductComponent .productTotal {
  font-size: 20px;
}
.Checkout .columnContainer .column2 .cartEmpty {
  text-align: center;
  margin-top: 30vh;
}
.Checkout .columnContainer .column2 .total {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  border-top: #888888 solid 0.5px;
  padding-top: 20px;
  margin-top: 70px;
}

.FooterComponent {
  z-index: -1;
  margin-top: 150px;
  position: relative;
}
.FooterComponent .footer {
  width: 100%;
  height: 300px;
  background-color: rgb(56, 60, 89);
}
.FooterComponent .footer .image {
  position: absolute;
  bottom: 20px;
  right: 150px;
  width: 25%;
}

.Test {
  background-color: RGB(160, 228, 209);
  height: 100vw;
}
.Test .block {
  width: 100%;
  background-color: RGB(222, 207, 164);
  color: RGB(240, 128, 128);
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal .modalContainer {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}
.Modal .modalContainer .text {
  text-align: center;
  margin: 7px;
}
.Modal .modalContainer button {
  margin: 7px;
  font-size: 14px;
}

.Test {
  background-color: RGB(64, 224, 208);
  height: 100vw;
}
.Test .block {
  width: 100%;
  background-color: RGB(100, 166, 90);
  color: RGB(255, 212, 59);
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.Test {
  background-color: RGB(255, 105, 180);
  height: 100vw;
}
.Test .block {
  width: 100%;
  background-color: RGB(150, 120, 182);
  color: RGB(8, 24, 57);
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 985px) {
  .ProductsCarusel {
    border-top: none;
    margin-top: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .Home .imgBaner {
    margin-top: 60px;
  }
  .ImageRow {
    margin-top: 20%;
  }
  .ImageRow .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px 10px;
    margin-top: 8%;
  }
  .ImageRow .images .image {
    margin: 0px;
    padding: 0px;
  }
  .Navbar .Navigation {
    padding: 0px;
  }
  .Navbar .Navigation .mobileMenu {
    display: block;
  }
  .Navbar .Navigation .btn {
    display: none;
  }
  .Navbar .Navigation .MobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    animation: mobile 0.5s 1;
  }
  @keyframes mobile {
    from {
      left: -400px;
    }
    to {
      left: 0;
    }
  }
  .Navbar .Navigation .MobileMenu .close_menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 4px;
    clear: all;
    background-color: black;
  }
  .Navbar .Navigation .MobileMenu .close_menu:hover {
    cursor: pointer;
  }
  .Navbar .Navigation .MobileMenu .close_menu img {
    width: 45px;
  }
  .Navbar .Navigation .MobileMenu .tab {
    padding-top: 100px;
    background-color: black;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .Navbar .Navigation .MobileMenu .tab .link {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 15px 65px;
  }
  .Navbar .Navigation .shoppingCartIcon {
    right: 35px;
    top: 15px;
  }
  .ProductPage .sliderForPhon {
    display: block;
  }
  .ProductPage .container {
    display: block;
  }
  .ProductPage .container .column1 {
    display: none;
  }
  .ProductPage .container .column2 {
    margin: 0px;
    margin-top: 20px;
  }
}