button {
  font-family: "Helvetica Neue W31", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 12px;
  font-weight: 500;
  border: solid rgb(25, 22, 22) 1px;
  color: rgb(25, 22, 22);
  background-color: transparent;
}
button:hover {
  cursor: pointer;
  border: solid rgb(25, 22, 22) 1px;
  background-color: rgb(25, 22, 22);
  color: white;
}

.ProductPage {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playpen Sans", cursive;
  margin-bottom: 200px;
}
.ProductPage .sliderForPhon {
  display: none;
}
.ProductPage .container {
  display: flex;
  max-width: 1300px;
}
.ProductPage .container .column1 .ImageSlider {
  display: flex;
  overflow: hidden;
}
.ProductPage .container .column1 .ImageSlider .mainImage {
  position: relative;
  margin: 0px 50px;
}
.ProductPage .container .column1 .ImageSlider .mainImage button {
  background-color: rgba(70, 70, 70, 0.2);
  padding: 0px;
  width: 40px;
  /* Width of the button */
  height: 40px;
  /* Height of the button, should be the same as width */
  border-radius: 50%;
  /* This makes it round */
  color: rgba(250, 250, 250, 0.9);
  /* Optional: Text color */
  text-align: center;
  /* Aligns the text to the center */
  line-height: 40px;
  display: inline-block;
  font-size: 20px;
}
.ProductPage .container .column1 .ImageSlider .mainImage .left-arrow,
.ProductPage .container .column1 .ImageSlider .mainImage .right-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: none;
}
.ProductPage .container .column1 .ImageSlider .mainImage .left-arrow {
  left: 10px;
}
.ProductPage .container .column1 .ImageSlider .mainImage .right-arrow {
  right: 10px;
}
.ProductPage .container .column1 .ImageSlider img {
  width: 100%;
}
.ProductPage .container .column1 .ImageSlider .slide {
  display: none;
}
.ProductPage .container .column1 .ImageSlider .slide.active {
  display: block;
}
.ProductPage .container .column1 .ImageSlider .dot-container {
  text-align: center;
  margin-top: 10px;
}
.ProductPage .container .column1 .ImageSlider .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: lightgray;
  cursor: pointer;
}
.ProductPage .container .column1 .ImageSlider .dot.active {
  background-color: darkgray;
}
.ProductPage .container .column1 .ImageSlider .thumbnail-container {
  display: flex;
  flex-direction: column;
}
.ProductPage .container .column1 .ImageSlider .thumbnail-container .thumbnail {
  width: 90px;
  margin: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  opacity: 0.6;
}
.ProductPage .container .column1 .ImageSlider .thumbnail-container .thumbnail.active {
  box-shadow: 0px 0px 6px 2px rgba(80, 80, 80, 0.5);
  opacity: 1;
}
.ProductPage .container .column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  /* constant width for first and third columns */
  flex-shrink: 0;
  margin-right: 50px;
}
.ProductPage .container .column2 .name {
  margin-bottom: 10px;
  font-size: 27px;
}
.ProductPage .container .column2 .price {
  font-size: 20px;
  border-bottom: rgb(190, 190, 190) 1px solid;
  color: rgb(60, 60, 60);
  font-weight: 700;
  padding-bottom: 10px;
}
.ProductPage .container .column2 .changeQuantity {
  text-align: center;
  margin: 20px;
  margin-top: 45px;
}
.ProductPage .container .column2 .changeQuantity .addToCartBtn {
  width: 100%;
  background-color: #845EC2;
  border: none;
  color: white;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart {
  font-size: 16px;
  border: solid rgb(130, 130, 130) 0.5px;
  display: inline-flex;
  margin-bottom: 10px;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart button {
  all: unset;
  width: 32px;
  height: 32px;
  text-align: center;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart button:hover {
  cursor: pointer;
}
.ProductPage .container .column2 .changeQuantity .inCart .changeInCart span {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-left: solid rgb(130, 130, 130) 0.5px;
  border-right: solid rgb(130, 130, 130) 0.5px;
}
.ProductPage .container .column2 .changeQuantity .inCart .remove {
  all: unset;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}
.ProductPage .container .column2 .changeQuantity .inCart .remove:hover {
  cursor: pointer;
}
.ProductPage .container .column2 .description {
  margin-top: 50px;
}
.ProductPage .container .column2 .description .title {
  margin: 7px 0px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}

@media only screen and (max-width: 1150px) {
  .ProductPage .container {
    margin: 0px 0px;
  }
  .ProductPage .container .column1 .ImageSlider {
    flex-direction: column-reverse;
  }
  .ProductPage .container .column1 .ImageSlider .mainImage {
    margin: 0px 50px;
  }
  .ProductPage .container .column1 .ImageSlider .thumbnail-container {
    flex-direction: row;
    justify-content: center;
  }
  .ProductPage .container .column1 .ImageSlider .thumbnail-container .thumbnail {
    width: 60px;
    margin: 10px;
  }
  .ProductPage .container .column2 {
    flex-basis: 350px;
  }
}
@media only screen and (max-width: 800px) {
  .ProductPage {
    display: block;
    margin: 20px;
    margin-top: 80px;
  }
  .ProductPage .sliderForPhon {
    display: block;
    overflow: hidden;
  }
  .ProductPage .sliderForPhon img {
    width: 100%;
  }
  .ProductPage .container {
    display: block;
    margin: 0px;
  }
  .ProductPage .container .column1 {
    display: none;
  }
  .ProductPage .container .column2 {
    margin: 0px;
    margin-top: 20px;
    padding: 20px;
  }
  .ProductPage .container .column2 .changeQuantity .addToCartBtn {
    margin-top: 20px;
    width: 100%;
    border: solid rgb(25, 22, 22) 1px;
    background-color: rgb(25, 22, 22);
    color: white;
    padding: 15px;
  }
}
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Playpen Sans", cursive;
}

.Navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.Navbar .Navigation {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 25px;
  padding-left: 60px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.Navbar .Navigation .mobileMenu {
  display: none;
}
.Navbar .Navigation .btn {
  text-decoration: none;
  padding-right: 20px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.7px;
  color: rgb(56, 60, 89);
  text-transform: uppercase;
}
.Navbar .Navigation .btn:hover {
  text-decoration: underline;
}
.Navbar .Navigation .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #845EC2;
  color: rgb(50, 50, 50);
  font-size: 35px;
  font-family: "Caveat", cursive;
}
.Navbar .Navigation .shoppingCartIcon {
  padding: 0;
  position: absolute;
  right: 80px;
  top: 15px;
}
.Navbar .Navigation .shoppingCartIcon .cartCount {
  position: absolute;
  top: -5px;
  right: -7px;
  color: white;
  background-color: rgb(255, 35, 0);
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: 700;
}
.Navbar .Navigation button {
  background: none;
  border: none;
}
.Navbar .Navigation button:hover {
  cursor: pointer;
}
.Navbar .Navigation button img {
  width: 35px;
  object-fit: cover;
}
.Navbar .sideTab {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.Navbar .sideTabHidden {
  width: 0;
}

.Home img {
  width: 100%;
  object-fit: cover;
}

.ImageRow {
  margin: 5%;
  margin-top: 120px;
  font-family: "Playpen Sans", cursive;
  letter-spacing: 0.1px;
}
.ImageRow .title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  text-transform: uppercase;
}
.ImageRow .description {
  font-weight: 500;
  text-align: center;
  margin-bottom: 2%;
  font-size: 16px;
}
.ImageRow .images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-gap: 3%;
}
.ImageRow .images .product {
  margin: 1%;
}
.ImageRow .images .product .image {
  overflow: hidden;
  display: block;
}
.ImageRow .images .product .image img {
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.ImageRow .images .product .image img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.ImageRow .images .product .name {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}
.ImageRow .images .product .price {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 15px;
  color: rgb(120, 120, 120);
}

.ShoppingCart .ShoppingCartTab {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  border-left: 1px solid rgb(229, 229, 229);
  padding: 20px;
  background-color: white;
  z-index: 2;
}
.ShoppingCart .ShoppingCartTab .close {
  all: unset;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 17px;
  right: 70px;
}
.ShoppingCart .ShoppingCartTab .close:hover {
  cursor: pointer;
}
.ShoppingCart .ShoppingCartTab .close img {
  width: 50px;
  object-fit: cover;
}
.ShoppingCart .ShoppingCartTab .totalContainer {
  border-top: 2px solid rgb(229, 229, 229);
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 20px 40px;
  background-color: rgb(249, 249, 249);
}
.ShoppingCart .ShoppingCartTab .totalContainer .total {
  text-align: right;
  font-weight: 400;
}
.ShoppingCart .ShoppingCartTab .totalContainer .checkoutContainer {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}
.ShoppingCart .ShoppingCartTab .totalContainer .checkoutContainer .checkoutBtn {
  all: unset;
  display: block;
  background-color: cornflowerblue;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  letter-spacing: 2px;
}
.ShoppingCart .ShoppingCartTab .totalContainer .checkoutContainer .checkoutBtn:hover {
  cursor: pointer;
}

.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
}
.CartItem .left {
  display: flex;
  align-items: center;
}
.CartItem .left img {
  width: 70px;
  height: 70PX;
  object-fit: cover;
}
.CartItem .left .name {
  margin-left: 20px;
}
.CartItem .left .name a {
  text-decoration: none;
  color: black;
}
.CartItem .left .name a:hover {
  text-decoration: underline;
}
.CartItem .left .name span,
.CartItem .left .name .itemPrice {
  margin-left: 7px;
  font-size: 14px;
  color: rgb(100, 100, 100);
  margin: 0;
  padding: 0;
}
.CartItem .right {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.CartItem .right span {
  text-decoration: none;
}
.CartItem .right button {
  clear: all;
  padding: 0;
  margin: 0;
  padding: 2px 5px;
  border: black solid 0.7px;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin-left: 12px;
  font-size: 15px;
  font-weight: 100;
}
.CartItem .right button:hover {
  background-color: rgb(230, 230, 230);
}

.Store {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px 70px;
  justify-content: space-around;
  padding: 70px;
  padding-top: 170px;
}
.Store .StoreItem .imgConatainer {
  overflow: hidden;
}
.Store .StoreItem .imgConatainer img {
  display: block;
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.Store .StoreItem .imgConatainer img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.Store .StoreItem .product_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 12px;
  font-size: 22px;
}
.Store .StoreItem .product_name .price {
  font-size: 20px;
  color: rgb(110, 110, 110);
}
.Store .StoreItem .changeQuantity {
  text-align: center;
}
.Store .StoreItem .changeQuantity .addProduct {
  height: 40px;
}
.Store .StoreItem .changeQuantity .addProduct button {
  width: 100%;
  display: none;
}
.Store .StoreItem .changeQuantity .showQuantity {
  font-size: 16px;
  border: solid rgb(130, 130, 130) 0.5px;
  display: inline-flex;
  margin-bottom: 10px;
}
.Store .StoreItem .changeQuantity .showQuantity button {
  all: unset;
  width: 32px;
  height: 32px;
  text-align: center;
}
.Store .StoreItem .changeQuantity .showQuantity button:hover {
  cursor: pointer;
}
.Store .StoreItem .changeQuantity .showQuantity span {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-left: solid rgb(130, 130, 130) 0.5px;
  border-right: solid rgb(130, 130, 130) 0.5px;
}
.Store .StoreItem .changeQuantity .remove {
  all: unset;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}
.Store .StoreItem .changeQuantity .remove:hover {
  cursor: pointer;
}
.Store .StoreItem:hover .addProduct button {
  display: block;
}

.About {
  margin-top: 150px;
}

.FooterComponent {
  background-color: rgb(34, 34, 34);
  width: 100%;
  padding: 1px;
  border: transparent solid 0px;
}
.FooterComponent .logo {
  margin: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.FooterComponent .logo .image {
  width: 120px;
  margin-right: 10px;
}
.FooterComponent .logo .name {
  width: 220px;
}
.FooterComponent .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(201, 200, 200);
  border-top: rgb(179, 178, 178) 1px solid;
  margin: 0% 8%;
  padding: 3%;
}
.FooterComponent .info div {
  text-transform: capitalize;
  margin: 15px;
  font-size: 18px;
}
.FooterComponent .copyrights {
  margin-top: 2%;
  text-align: center;
  color: #837e7e;
  margin-bottom: 1%;
}

.ProductPersentation {
  background-color: rgb(245, 245, 245);
  padding: 7%;
  font-family: "Playpen Sans", cursive;
  letter-spacing: 0.1 px;
  margin-bottom: 100px;
}
.ProductPersentation .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 50px;
  overflow: hidden;
  background-color: #ffffff;
}
.ProductPersentation .container .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding: 10%;
}
.ProductPersentation .container .description .title {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal .modalContainer {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}
.Modal .modalContainer .text {
  text-align: center;
  margin: 7px;
}
.Modal .modalContainer button {
  margin: 7px;
  font-size: 14px;
}

.Test {
  background-color: RGB(64, 224, 208);
  height: 100vw;
}
.Test .block {
  width: 100%;
  background-color: RGB(100, 166, 90);
  color: RGB(255, 212, 59);
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.Contact {
  font-family: "Playpen Sans", cursive;
  font-size: 20px;
}
.Contact .baner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  margin-top: 60px;
}
.Contact .baner .column {
  width: 100%;
  height: 400px;
}
.Contact .baner .column .text {
  position: relative;
  font-weight: bold;
  padding: 5% 15%;
  text-transform: uppercase;
}
.Contact .baner .column .text .head {
  margin-bottom: 3%;
  font-size: 35px;
}
.Contact .baner .column .text .star1 {
  position: absolute;
  width: 50px;
  top: 20px;
  left: 20px;
  object-fit: cover;
  object-position: center;
}
.Contact .baner .column .text .star2 {
  position: absolute;
  width: 50px;
  right: 70px;
  bottom: 50px;
  object-fit: cover;
  object-position: center;
}
.Contact .baner .column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Contact .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 100px;
}
.Contact .container .contact-form-container {
  padding: 3%;
  width: 40%;
}
.Contact .container .contact-form-container .contact-form .form-group {
  margin-bottom: 15px;
}
.Contact .container .contact-form-container .contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
}
.Contact .container .contact-form-container .contact-form .form-control {
  width: 100%;
  padding: 8px;
}
.Contact .container .contact-form-container .contact-form #message {
  height: 200px;
}
.Contact .container .contact-form-container .contact-form .button {
  text-align: center;
}
.Contact .container .contact-form-container .contact-form .button .submit-button {
  background-color: #378078;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.Contact .container .contact-form-container .contact-form .submit-button:hover {
  background-color: #0056b3;
}
.Contact .container .contact-form-container input,
.Contact .container .contact-form-container textarea {
  border: black 1px solid;
  border-radius: 10px;
}
.Contact .container .dane-kontaktowe {
  padding: 3%;
  width: 30%;
}
.Contact .container .dane-kontaktowe .block {
  margin-bottom: 20%;
}
.Contact .container .dane-kontaktowe .block .email {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Contact .container .dane-kontaktowe .block .email img {
  width: 40px;
  margin-right: 5%;
}
.Contact .container .title {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
}

.Checkout {
  font-weight: 50px;
}
.Checkout .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.Checkout .header .logo {
  text-decoration: none;
  color: rgb(50, 50, 50);
  font-size: 35px;
  font-family: "Caveat", cursive;
}
.Checkout .header .logo:hover {
  cursor: pointer;
}
.Checkout .columnContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(250, 250, 250);
}
.Checkout .columnContainer .column1 {
  border-radius: 10px;
  margin: 6vw;
  margin-bottom: 150px;
  /* Buttons and links */
  /* spinner/processing state, errors */
}
.Checkout .columnContainer .column1 #payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}
.Checkout .columnContainer .column1 #payment-element {
  margin-bottom: 24px;
}
.Checkout .columnContainer .column1 button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
.Checkout .columnContainer .column1 button:hover {
  filter: contrast(115%);
}
.Checkout .columnContainer .column1 button:disabled {
  opacity: 0.5;
  cursor: default;
}
.Checkout .columnContainer .column1 .spinner,
.Checkout .columnContainer .column1 .spinner:before,
.Checkout .columnContainer .column1 .spinner:after {
  border-radius: 50%;
}
.Checkout .columnContainer .column1 .spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.Checkout .columnContainer .column1 .spinner:before,
.Checkout .columnContainer .column1 .spinner:after {
  position: absolute;
  content: "";
}
.Checkout .columnContainer .column1 .spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.Checkout .columnContainer .column1 .spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .Checkout .columnContainer .column1 form {
    width: 80vw;
    min-width: initial;
  }
}
.Checkout .columnContainer .column1 .head {
  margin: 20px 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
.Checkout .columnContainer .column1 .address {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1px;
}
.Checkout .columnContainer .column1 .address form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 15px;
}
.Checkout .columnContainer .column1 .address form .item3 {
  grid-column: 1/3;
}
.Checkout .columnContainer .column1 .address form label {
  color: rgb(20, 20, 20);
}
.Checkout .columnContainer .column1 .address form label input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-top: 2px;
  margin-bottom: 5px;
  border: 1px solid rgb(210, 220, 220);
  border-radius: 5px;
  font-size: 16px;
}
.Checkout .columnContainer .column2 {
  padding: 20px 50px;
  padding-top: 100px;
  border-left: solid 1px rgb(230, 230, 230);
  background-color: white;
}
.Checkout .columnContainer .column2 .head {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 70px;
}
.Checkout .columnContainer .column2 .ProductComponent {
  display: flex;
  margin-top: 15px;
}
.Checkout .columnContainer .column2 .ProductComponent .product {
  margin-right: 40px;
  font-size: 20px;
}
.Checkout .columnContainer .column2 .ProductComponent .product .quantity {
  color: #888888;
  font-size: 15px;
}
.Checkout .columnContainer .column2 .ProductComponent .product .productPrice {
  color: #888888;
  font-size: 15px;
}
.Checkout .columnContainer .column2 .ProductComponent .productTotal {
  font-size: 20px;
}
.Checkout .columnContainer .column2 .cartEmpty {
  text-align: center;
  margin-top: 30vh;
}
.Checkout .columnContainer .column2 .total {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  border-top: #888888 solid 0.5px;
  padding-top: 20px;
  margin-top: 70px;
}

@media only screen and (max-width: 900px) {
  .ProductsCarusel {
    border-top: none;
    margin-top: 70px;
  }
  .Navbar .Navigation {
    padding: 0px;
  }
  .Navbar .Navigation .mobileMenu {
    display: block;
  }
  .Navbar .Navigation .btn {
    display: none;
  }
  .Navbar .Navigation .MobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    animation: mobile 0.5s 1;
  }
  @keyframes mobile {
    from {
      left: -400px;
    }
    to {
      left: 0;
    }
  }
  .Navbar .Navigation .MobileMenu .close_menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 4px;
    clear: all;
    background-color: black;
  }
  .Navbar .Navigation .MobileMenu .close_menu:hover {
    cursor: pointer;
  }
  .Navbar .Navigation .MobileMenu .close_menu img {
    width: 45px;
  }
  .Navbar .Navigation .MobileMenu .tab {
    padding-top: 100px;
    background-color: black;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .Navbar .Navigation .MobileMenu .tab .link {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 15px 65px;
  }
  .Navbar .Navigation .shoppingCartIcon {
    right: 35px;
    top: 15px;
  }
  .ShoppingCart .ShoppingCartTab {
    width: 70vw;
  }
}
@media only screen and (max-width: 650px) {
  .Home .imgBaner {
    margin-top: 60px;
  }
  .ImageRow {
    margin-top: 20%;
  }
  .ImageRow .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6%;
  }
  .Store {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    justify-content: space-around;
    padding: 5px;
    padding-top: 170px;
  }
  .ProductPage .sliderForPhon {
    display: block;
  }
  .ProductPage .container {
    display: block;
  }
  .ProductPage .container .column1 {
    display: none;
  }
  .ProductPage .container .column2 {
    margin: 0px;
    margin-top: 20px;
  }
  .FooterComponent .logo .image {
    width: 80px;
    margin-right: 5px;
  }
  .FooterComponent .logo .name {
    width: 140px;
  }
  .FooterComponent .info {
    flex-direction: column;
    margin-top: 10%;
    padding-top: 7%;
  }
  .FooterComponent .info div {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .FooterComponent .copyrights {
    color: #bab3b3;
    padding: 20px;
    font-weight: bold;
    font-size: 12px;
  }
  .Contact .baner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Contact .baner .column:first-child {
    order: 2;
  }
  .Contact .baner .column:last-child {
    order: 1;
  }
  .Contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Contact .container .contact-form-container {
    width: 80%;
    margin-bottom: 15%;
  }
  .Contact .container .dane-kontaktowe {
    width: 80%;
  }
}