.ProductPage {
    margin: 50px;
    margin-top: 120px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .column2 {
            margin: 0px 40px;

            .name {
                margin-bottom: 10px;
                // font-weight: bold;
                font-size: 27px;
            }

            .price {
                font-size: 20px;
                border-bottom: black 1px solid;
                color: rgb(60, 60, 60);
                font-weight: 700;
                padding-bottom: 10px;
            }

            .changeQuantity {
                text-align: center;
                margin: 20px;

                .inCart {

                    .changeInCart {
                        font-size: 16px;
                        border: solid rgb(130, 130, 130) 0.5px;
                        display: inline-flex;
                        margin-bottom: 10px;

                        button {
                            all: unset;
                            width: 32px;
                            height: 32px;
                            text-align: center;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        span {
                            all: unset;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            border-left: solid rgb(130, 130, 130) 0.5px;
                            border-right: solid rgb(130, 130, 130) 0.5px;
                        }
                    }

                    .remove {
                        all: unset;
                        display: block;
                        margin: 0 auto;
                        margin-top: 8px;
                        text-transform: uppercase;
                        font-size: 12px;
                        letter-spacing: 1.5px;
                        text-decoration: underline;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .description {
                margin-top: 50px;

                .title {
                    margin: 7px 0px;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}