.ProductPage {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    margin-bottom: 200px;


    .sliderForPhon {
        display: none;
    }

    .container {
        display: flex;
        max-width: 1300px;
        // margin: 0px 50px;


        .column1 {
            .ImageSlider {
                display: flex;
                // position: relative;
                overflow: hidden;

                .mainImage {
                    position: relative;
                    margin: 0px 50px;

                    button {
                        background-color: rgba(70, 70, 70, 0.2);
                        padding: 0px;
                        width: 40px;
                        /* Width of the button */
                        height: 40px;
                        /* Height of the button, should be the same as width */
                        border-radius: 50%;
                        /* This makes it round */
                        color: rgba(250, 250, 250, 0.9);
                        /* Optional: Text color */
                        text-align: center;
                        /* Aligns the text to the center */
                        line-height: 40px;
                        display: inline-block;
                        font-size: 20px;
                    }

                    .left-arrow,
                    .right-arrow {
                        position: absolute;
                        top: 50%;
                        // font-size: 2rem;
                        cursor: pointer;
                        border: none;
                    }

                    .left-arrow {
                        left: 10px;
                    }

                    .right-arrow {
                        right: 10px;
                    }
                }

                img {
                    width: 100%;
                }

                .slide {
                    display: none;
                }

                .slide.active {
                    display: block;
                }

                .dot-container {
                    text-align: center;
                    margin-top: 10px;
                }

                .dot {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin: 5px;
                    background-color: lightgray;
                    cursor: pointer;
                }

                .dot.active {
                    background-color: darkgray;
                }

                .thumbnail-container {
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    // margin-top: 20px;

                    .thumbnail {
                        width: 90px;
                        // height: 40px;
                        margin: 5px;
                        margin-bottom: 30px;
                        cursor: pointer;
                        opacity: 0.6;
                    }

                    .thumbnail.active {
                        box-shadow: 0px 0px 6px 2px rgba(80, 80, 80, 0.5);
                        opacity: 1;
                    }
                }
            }
        }

        .column2 {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            flex-basis: 400px;
            /* constant width for first and third columns */
            flex-shrink: 0;
            // margin: 0px 5%;
            margin-right: 50px;

            .name {
                margin-bottom: 10px;
                // font-weight: bold;
                font-size: 27px;
            }

            .price {
                font-size: 20px;
                border-bottom: rgb(190, 190, 190) 1px solid;
                color: rgb(60, 60, 60);
                font-weight: 700;
                padding-bottom: 10px;
            }

            .changeQuantity {
                text-align: center;
                margin: 20px;
                margin-top: 45px;

                .addToCartBtn {
                    width: 100%;
                    background-color: $primary-color;
                    border: none;
                    color: white;
                    // font-weight: bold;
                }

                .inCart {
                    .changeInCart {
                        font-size: 16px;
                        border: solid rgb(130, 130, 130) 0.5px;
                        display: inline-flex;
                        margin-bottom: 10px;

                        button {
                            all: unset;
                            width: 32px;
                            height: 32px;
                            text-align: center;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        span {
                            all: unset;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            border-left: solid rgb(130, 130, 130) 0.5px;
                            border-right: solid rgb(130, 130, 130) 0.5px;
                        }
                    }

                    .remove {
                        all: unset;
                        display: block;
                        margin: 0 auto;
                        margin-top: 8px;
                        text-transform: uppercase;
                        font-size: 12px;
                        letter-spacing: 1.5px;
                        text-decoration: underline;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .description {
                margin-top: 50px;

                .title {
                    margin: 7px 0px;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: bold;
                    // text-decoration: underline;
                }
            }
        }
    }
}


@media only screen and (max-width: 1150px) {
    .ProductPage {
        .container {
            margin: 0px 0px; //ok

            .column1 {
                .ImageSlider {
                    flex-direction: column-reverse; //ok

                    .mainImage {
                        margin: 0px 50px; //ok
                    }

                    .thumbnail-container {
                        flex-direction: row; //ok 
                        justify-content: center; //ok

                        .thumbnail {
                            width: 60px; //ok  
                            margin: 10px;
                            // margin-bottom: 30px;  //ok 
                        }
                    }
                }
            }

            .column2 {
                flex-basis: 350px; //ok
            }
        }
    }

}

//   Extra Small Devices (Mobile Phones)
@media only screen and (max-width: 800px) {

    .ProductPage {
        display: block;
        margin: 20px;
        margin-top: 80px;

        .sliderForPhon {
            display: block;
            overflow: hidden;

            img {
                width: 100%;
            }

            .slick-dots {
                bottom: 25px;

                /* Default style for all dots */
                li button::before {
                    display: none;
                }
                li button {
                    background: transparent;
                    border: 2px solid rgba(250, 250, 250, 0.7);
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                }
                /* Style for the active dot */
                li.slick-active button {
                    background: rgba(154, 154, 154, 0.4);
                    border: 2px solid rgba(209, 207, 207, 0.8);
                }
            }
        }

        .container {
            display: block;
            margin: 0px;


            .column1 {
                display: none;
            }

            .column2 {
                margin: 0px;
                margin-top: 20px;
                padding: 20px;

                .changeQuantity {
                    .addToCartBtn {
                        margin-top: 20px;
                        width: 100%;
                        border: solid rgb(25, 22, 22) 1px;
                        background-color: rgb(25, 22, 22);
                        color: white;
                        padding: 15px;
                    }
                }
            }
        }
    }
}