.ProductPage {
    margin: 50px;
    margin-top: 120px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .description{
            margin: 40px;
            .name{
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 20px;
            }

            .changeQuantity{
                text-align: center;
                margin: 20px;

                .changeInCart{
                    button{
                        margin: 15px;
                        padding: 0;
                        width: 50px;          /* Width of the button */
                        height: 50px;         /* Height of the button, should be the same as width */
                        border-radius: 50%;
                    }
                }
            }
        }

    }
}