.TermsConditions{
background-color: rgb(230,230,230);
padding: 200px;
padding-top: 150px;

.title{
  font-size: 35px;
  text-align: center;
  // margin-top: 200px;
}

.contentsTitle{
  text-transform: uppercase;
  font-weight: bold;
}

.head{
  font-weight: bold;
  margin: 20px 0px;
  text-transform: uppercase;
}

}