@import 'config';
@import '_product_page';

body {
    background-color: $backGroundColr;
    padding: 0;
    margin: 0;
    font-family: $font;
}

.Navbar {
    // position: fixed;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;

    .Navigation {
        // z-index: 2;
        position: relative; // Necessary for z-index to take effect
        display: flex;
        justify-content: flex-start;
        padding: 25px;
        padding-left: 60px;
        background-color: $menuColor;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

        .mobileMenu {
            display: none;
        }

        .btn {
            text-decoration: none;
            padding-right: 20px;
            // font-weight: bold;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 0.7px;
            color: $text-color;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }

        }

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $primary-color;
            color: rgb(50, 50, 50);
            font-size: 35px;
            font-family: 'Caveat', cursive;
        }

        .shoppingCartIcon {
            padding: 0;
            position: absolute;
            right: 80px;
            top: 15px;

            .cartCount {
                position: absolute;
                top: -5px;
                right: -7px;
                color: white;
                background-color: rgb(255, 35, 0);
                height: 21px;
                width: 21px;
                border-radius: 50%;
                display: grid;
                place-items: center;
                font-size: 14px;
                font-weight: 700;
            }
        }

        button {
            background: none;
            border: none;

            &:hover {
                cursor: pointer;
            }

            img {

                width: 35px;
                object-fit: cover;
            }
        }
    }

    .sideTab {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        // transition: all 0.3s ease-in-out;
        z-index: 5; // Lower than menuBar's z-index

    }

    .sideTabHidden {
        width: 0;
    }
}

.Home {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.ImageRow {
    // margin: 100px;
    margin: 5%;
    margin-top: 120px;
    font-family: $font;
    letter-spacing: 0.1px;

    .title {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding: 0px;
        text-transform: uppercase;
    }

    .description {
        font-weight: 500;
        text-align: center;
        margin-bottom: 2%;
        font-size: 16px;

    }

    .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr); // Creates a 2-column grid
        grid-gap: 30px; // Adjust spacing as needed
        grid-gap: 3%; // Adjust spacing as needed

        .product {
            // border: solid green 1px;
            margin: 1%;

            .image {
                overflow: hidden;
                display: block;

                img {

                    width: 100%;
                    -webkit-transition: 0.3s all ease-in-out;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        cursor: pointer;
                        -webkit-transform: scale(1.03);
                        transform: scale(1.03);
                    }
                }
            }

            .name {
                padding: 0;
                margin: 0;
                margin-top: 5px;
                // line-height: 1px;
                text-align: center;
                font-size: 20px;

            }

            .price {
                padding: 0;
                margin: 0;
                // line-height: 5.7px;
                text-align: center;
                font-size: 15px;
                color: rgb(120, 120, 120);
            }
        }
    }
}

.ShoppingCart{
    .ShoppingCartTab {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 400px;
        border-left: 1px solid rgb(229, 229, 229);
        padding: 20px;
        background-color: white;
        z-index: 2;
    
        .close {
            all: unset;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 17px;
            right: 70px;
    
            &:hover {
                cursor: pointer;
            }
    
            img {
                width: 50px;
                object-fit: cover;
            }
        }
    
        .totalContainer {
            border-top: 2px solid rgb(229, 229, 229);
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            padding: 20px 40px;
            background-color: rgb(249, 249, 249);
    
            .total {
                text-align: right;
                font-weight: 400;
            }
    
            .checkoutContainer {
                margin-top: 50px;
                margin-bottom: 60px;
                text-align: center;
    
                .checkoutBtn {
                    // all: unset;
                    text-decoration: none;
                    display: block;
                    // background-color: $primary-color;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 16px;
                    // padding: 15px;
                    letter-spacing: 2px;
                    @extend %theme-style;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.CartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;

    .left {
        display: flex;
        align-items: center;

        img {
            width: 70px;
            height: 70PX;
            object-fit: cover;
        }


        .name {
            margin-left: 20px;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }

            span,
            .itemPrice {
                margin-left: 7px;
                font-size: 14px;
                color: rgb(100, 100, 100);
                margin: 0;
                padding: 0;
            }
        }
    }

    .right {
        // outline: rgb(0, 255, 123) solid 1px;

        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        span {
            text-decoration: none;
        }

        button {
            clear: all;
            padding: 0;
            margin: 0;
            padding: 2px 5px;
            border: black solid 0.7px;
            border-radius: 5px;
            background-color: white;
            color: black;
            margin-left: 12px;
            font-size: 15px;
            font-weight: 100;

            &:hover {
                background-color: rgb(230, 230, 230);
            }
        }
    }
}

.Store {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 20px 70px;
    justify-content: space-around;
    padding: 70px;
    padding-top: 170px;

    .StoreItem {
        .imgConatainer {
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                -webkit-transition: 0.3s all ease-in-out;
                transition: 0.3s all ease-in-out;

                &:hover {
                    cursor: pointer;
                    -webkit-transform: scale(1.025);
                    transform: scale(1.025);
                }
            }
        }

        .product_name {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px 12px;
            font-size: 22px;

            .price {
                font-size: 20px;
                color: rgb(110, 110, 110);
            }
        }

        .changeQuantity {
            text-align: center;


            .addProduct {
                height: 40px;

                button {
                    width: 100%;
                    // border: solid rgb(25, 22, 22) 1px;
                    // color: rgb(25, 22, 22);
                    // background-color: white;
                    display: none;


                    // &:hover{
                    //     border: solid rgb(25, 22, 22) 1px;
                    //     background-color: rgb(25, 22, 22);
                    //     color:white;
                    // }
                }
            }


            .showQuantity {
                font-size: 16px;
                border: solid rgb(130, 130, 130) 0.5px;
                // border: solid black 0.5px;
                display: inline-flex;
                margin-bottom: 10px;



                button {
                    all: unset;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    // background-color: rgb(24,22,22);
                    // color: white;

                    &:hover {
                        cursor: pointer;
                    }
                }

                span {
                    all: unset;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    border-left: solid rgb(130, 130, 130) 0.5px;
                    border-right: solid rgb(130, 130, 130) 0.5px;
                }
            }

            .remove {
                all: unset;
                display: block;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1.5px;
                text-decoration: underline;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &:hover .addProduct button {
            display: block;
        }

    }
}

.About {
    margin-top: 150px;
}

.FooterComponent {
    background-color: rgb(34, 34, 34);
    width: 100%;
    padding: 1px;
    // padding-top: 50px;
    // .block {
    border: transparent solid 0px;
    // padding: 1px;

    .logo {
        margin: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .image {
            width: 120px;
            margin-right: 10px;
        }

        .name {
            width: 220px;
        }
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: rgb(201, 200, 200);
        border-top: rgb(179, 178, 178) 1px solid;
        margin: 0% 8%;
        padding: 3%;
        
        div {
            color: rgb(201, 200, 200);
            text-transform: capitalize;
            margin: 15px;
            font-size: 18px;
            .link{
                text-decoration: none;

                color: rgb(201, 200, 200);
            }
        }
    }

    .copyrights {
        margin-top: 2%;
        text-align: center;
        color: #837e7e;
        margin-bottom: 1%;
        // padding: 20px;
    }
}

.ProductPersentation {
    background-color: rgb(245, 245, 245);
    padding: 7%;
    font-family: $font;
    letter-spacing: 0.1 px;
    margin-bottom: 100px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // margin: 100px 7%;
        border-radius: 50px;
        overflow: hidden;
        background-color: #ffffff;

        .description {
            .title {
                text-align: center;
                font-size: 30px;
                padding: 10px;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-weight: bold;

            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            padding: 10%;
        }
    }
}


.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modalContainer {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;

        .text {
            text-align: center;
            margin: 7px;
        }

        button {
            margin: 7px;
            font-size: 14px;
        }
    }

}



// PALET 2
.Test {
    background-color: RGB(64, 224, 208);
    height: 100vw;

    .block {
        width: 100%;
        background-color: RGB(100, 166, 90);
        color: RGB(255, 212, 59);
        font-size: 40px;
        text-align: center;
        padding: 20px;
    }
}


// PALET 3
// .Test {
//     background-color: RGB(255, 105, 180);
//     height: 100vw;

//     .block {
//         width: 100%;
//         background-color: RGB(150, 120, 182);
//         color: RGB(8, 24, 57);
//         font-size: 40px;
//         text-align: center;
//         padding: 20px;
//     }
// }
.Contact {
    font-family: $font;
    font-size: 20px;

    .baner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        margin-top: 60px;

        .column {
            width: 100%;
            height: 400px;

            .text {
                position: relative;
                font-weight: bold;
                padding: 5% 15%;
                text-transform: uppercase;


                .head {
                    margin-bottom: 3%;
                    font-size: 35px;
                }

                .star1 {
                    position: absolute;
                    width: 50px;
                    top: 20px;
                    left: 20px;
                    object-fit: cover;
                    object-position: center;
                }

                .star2 {
                    position: absolute;
                    width: 50px;
                    right: 70px;
                    bottom: 00px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

            }
        }
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 100px;


        .contact-form-container {
            padding: 3%;
            width: 40%;       

            .contact-form {
                .form-group {
                    margin-bottom: 15px;
                }

                .form-group label {
                    display: block;
                    margin-bottom: 5px;
                }

                .form-control {
                    width: 100%;
                    padding: 8px;
                }

                #message {
                    height: 200px;
                }

                .button {
                    text-align: center;

                    .submit-button {
                        padding: 15px 40px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        width: 40%;
                        min-width:150px;
                        background-color: $primary-color;
                        border: none;
                        color: white;
                    }
                }


                .submit-button:hover {
                    background-color: #0056b3;
                }
            }

            input,
            textarea {
                border: black 1px solid;
                border-radius: 10px;
            }
        }

        .dane-kontaktowe {
            padding: 3%;
            width: 30%;

            .block {
                margin-bottom: 20%;

                .email {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    img {
                        width: 40px;
                        margin-right: 5%;
                    }
                }
            }


        }

        .title {
            font-size: 25px;
            margin-bottom: 30px;
            font-weight: bold;
        }
    }
}




@import 'mobile';
@import '_checkout_page';
@import '_conditions';


.About{
padding: 100px;
    
}
